!! Transparency (0-1):
*.alpha: 1.0

!! Set a default font and font size as below:
!! *.font: monospace:size=10

/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */

!!*.foreground:  #e6e1cf
!!*.background:  #0f1419
!!*.cursorColor: #f29718
!!
!!! Black
!!*.color0:      #0f1419
!!*.color8:      #737d87
!!
!!! Red
!!*.color1:      #f34a4a
!!*.color9:      #ff3333
!!
!!! Green
!!*.color2:      #bae67e
!!*.color10:     #c2d94c
!!
!!! Yellow
!!*.color3:      #ffee99
!!*.color11:     #e7c547
!!
!!! Blue
!!*.color4:      #73d0ff
!!*.color12:     #59c2ff
!!
!!! Magenta
!!*.color5:      #d4bfff
!!*.color13:     #b77ee0
!!
!!! Cyan
!!*.color6:      #83CEC6
!!*.color14:     #5ccfe6
!!
!!! White
!!*.color7:      #f2f2f2
!!*.color15:     #ffffff
!!
!!! Bold, Italic, Underline
!!*.colorBD:     #e6e1cf
!!*.colorIT:
!!*.colorUL:
!
! TokyoNight colors for Xresources

!!*background: #1a1b26
!!*foreground: #c0caf5
!!
!!*color0: #15161e
!!*color1: #f7768e
!!*color2: #9ece6a
!!*color3: #e0af68
!!*color4: #7aa2f7
!!*color5: #bb9af7
!!*color6: #7dcfff
!!*color7: #a9b1d6
!!
!!*color8: #414868
!!*color9: #f7768e
!!*color10: #9ece6a
!!*color11: #e0af68
!!*color12: #7aa2f7
!!*color13: #bb9af7
!!*color14: #7dcfff
!!*color15: #c0caf5



Xft.dpi: 110
