window {
  margin: 0px;
  background-color: rgba(25, 23, 36, 0.8);
  border-radius: 8px;
  border: 2px solid #c4a7e7;
  color: #e0def4;
  font-family: "SF Pro Display";
  font-size: 15px;
}

#input {
  margin: 7px;
  border-radius: 8px;
  border: none;
  border-radius: 8px;
  color: #e0def4;
  background-color: rgba(33, 32, 46, 0.6);
  padding: 8px;
}

#inner-box {
  margin: 10px;
  border: none;
  color: #191724;
  border-radius: 0px;
}

#outer-box {
  margin: 15px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 8px;
  border: none;
  color: #e0def4;
  font-weight: 700;
}

#entry:selected {
  background-color: rgba(38, 35, 58, 0.8);
  color: #e0def4;
  border-radius: 8px;
  outline: none;
}

#entry:selected * {
  color: #e0def4;
  border-radius: 8px;
  outline: none;
}
