window {
  margin: 0px;
  background-color: #191724;
  border-radius: 8px;
  border: 2px solid #c4a7e7;
  color: #e0def4;
  font-family: "SF mono";
  font-size: 14px;
}

#input {
  margin: 5px;
  border-radius: 8px;
  border: none;
  border-radius: 8px;
  color: #e0def4;
  background-color: #26233a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #26233a;
  color: #191724;
  border-radius: 0px;
}

#outer-box {
  margin: 15px;
  border: none;
  background-color: #191724;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e0def4;
}

#entry:selected {
  background-color: #c4a7e7;
  color: #191724;
  border-radius: 8px;
  outline: none;
}

#entry:selected * {
  background-color: #c4a7e7;
  color: #191724;
  border-radius: 8px;
  outline: none;
}
